{% extends "TimotheeModelBundle::main.html.twig" %}

{% block body %}

	{# ICI, EDITEUR SPECIAL CHANT AVEC BTS refrain, couplet... (pour formatter le texte du chant avant l'insertion en bdd) #}

	{# 
	{% for hymn in hymns %}
		{{ hymn.getNum }}<br>
		{{ hymn.getTitle | upper }}<br>
		{{ hymn.getRef }}<br><br>
		{{ hymn.getLyrics | raw }}<br><br>--------------------<br><br>  
	{% endfor %}
	 #}



	<a
		href="{{ path('addHymn') }}"
		class="btn btn-danger">
		Aller au formulaire d'ajout de chant
	</a>



	<a
		href="{{ path('fillBDD') }}"
		class="btn btn-danger">
		Remplir la base de données
	</a>

	<a
		href="{{ path('hymns') }}"
		class="btn btn-danger">
		Tous les chants (json)
	</a>
	
	<a
		href="{{ path('hymn', {id:1}) }}"
		class="btn btn-danger">
		Chant par numéro (json)
	</a>

{% endblock %}