{% extends "TimotheeModelBundle::main.html.twig" %}

{% block body %}
	
	<div class="margin-top">
		<a
			href="{{ path('fillBDD') }}"
			class="btn btn-danger">
			Remplir la base de données (en dur via TimotheeModelBundel:HymnsController:fillBDDAction)
		</a>

		<br><br>
		<br><br>


{# API #}

		<div class="alert-success text-center">
			API
		</div>

		{% for mss in app.session.flashbag.get('info') %}
		    <div class="alert-success">{{ mss }}</div>
		{% endfor %}


		<table class="table">
			<tr>
				<td>
					<a
						href="{{ path('hymns') }}"
						class="btn btn-success">
						Tous les chants (json)
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<form action="{{ path('home') }}" method="POST">
						<input type="text" name="numberShowHymn" style="width:50px">
						<input
							type="submit"
							class="btn btn-success"
							value="Chant par numéro (json)">
						</input>
					</form>
				</td>
			</tr>
			{% if connectedUsers is defined %}
				<tr>
					<td>
						<form action="{{ path('home') }}" method="POST">
							<input type="text" name="numberEditHymn" style="width:50px">
							<input
								type="submit"
								class="btn btn-danger"
								value="Modifier un chant">
							</input>
						</form>
					</td>
				</tr>
				<tr>
					<td>
						<a
							href="{{ path('addHymn') }}"
							class="btn btn-danger">
							Ajouter un chant
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a
							href="{{ path('logout') }}"
							class="btn btn-warning">
							Deconnexion
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>
						<a
							href="{{ path('login') }}"
							class="btn btn-warning">
							Connexion administrateur
						</a>
					</td>
				</tr>
			{% endif %}
		</table>
	</div>

{% endblock %}