<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/timotheemodel/lib/animate.css/animate.min.css') }}">
        {% endblock %}

        {% stylesheets
            '@bootstrap_css'
            'css/main.css'

            filter='scssphp,cssrewrite'
            output='css/apym.css' %}

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>

        {% endstylesheets %}

        {% javascripts
            '@jquery'
            '@bootstrap_js'

            filter='?jsqueeze'
            output='js/apym.js' %}

            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="{{ asset('bundles/timotheemodel/lib/angular/angular.min.js') }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
